$r.render("sourceview")
$r.render("tooltipContent")

<div class="o_button_group o_button_group_right">$r.render("button")</div>
<p>$r.render("linkT")</p>
<p>$r.render("link1")</p>
<p>$r.render("link2")</p>
<p>$r.render("link3")</p>

<p><div title="this div has an tooltipIf you do not like the html namespace extensions do it with an id reference.If you do not like the html namespace extensions do it with an id reference.If you do not like the html namespace extensions do it with an id reference.If you do not like the html namespace extensions do it with an id reference.If you do not like the html namespace extensions do it with an id reference.If you do not like the html namespace extensions do it with an id reference.If you do not like the html namespace extensions do it with an id reference.If you do not like the html namespace extensions do it with an id reference.If you do not like the html namespace extensions do it with an id reference.">Any element can have a tooltip, see source for details...</div></p>

<p><div id="test1234">If you do not like the html namespace extensions do it with an id reference.</div></p>

<p><div id="test1235">If you do not like the html namespace extensions do it with an id reference. And grab the content from an other div</div></p>

<div id="test3333" class="x-hidden">This <span style="color:red">content</span> is from a div <b>somewhere</b> in the content</div>
<!-- note the x-hidden css class, you have to use this one when refering to an external content element for a tooltip -->

<p><div title="This tooltip will disapear when you click the close button or somewhere else in the body" ext:hide="user" ext:qtitle="asdf asdf" ext:qwidth="400">Tooltips have many config options, they can e.g. be sticky.</div></p>
