<div class="o_course_stats">
<fieldset class="o_form form-horizontal">
	<legend>
		$r.contextHelpWithWrapper($package, $packageHtml,"help.hover.statistic")
		$r.translate("statistic.title")</legend>
	<div class="o_desc">$r.translate("statistic.intro", $statsSince)</div>
</fieldset>
$r.render("statisticResult")
#if($hasChart)
	<div class="o_desc">$chartIntro</div>
	$r.render("chart")
#end
</div>
	