body.o_dmz {
	background: transparent;
	#o_bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	
		/* reduce box size for background image to not include header and footer */
		border-top: $o-navbar-dmz-height solid transparent;
		border-bottom: $o-footer-dmz-height solid transparent;
		
		/* background gradient depending on login box positioning */
		$o-login-bg-gradient-to : right;	
		@if $o-login-form-align == left {
			$o-login-bg-gradient-to : left;
		}
		@else if $o-login-form-align == center {
			$o-login-bg-gradient-to : top;
		}
		
		/* Full screen background image */
		background: url('#{$o-login-form-bg-img}');
		background-size: cover;
		background-position: $o-login-form-bg-position-left $o-login-form-bg-position-top;
		background-repeat: no-repeat;
		
		/* overlay gradient to make login form better readable */
		&:after {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to $o-login-bg-gradient-to, $o-login-form-bg-gradient-steps...);
			background-size: cover;
			background-position: $o-login-form-bg-position-left $o-login-form-bg-position-top;
			background-repeat: no-repeat;
		}
						
		/* IE 9 fallback for gradient */
		@if $o-login-form-align == left {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
		}
		@else if $o-login-form-align == right {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
		} 
		@else if $o-login-form-align == center {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
		} 
	}
	
	#o_toplink {
		display: none;
	}

	#o_main_wrapper, #o_main_wrapper #o_main_container {
		background: transparent;
	}
}
.o_login {
	padding-bottom: $padding-large-vertical * 2;
	padding-left: 10%;
	padding-right: 10%;
	
	@if $o-login-form-align == left {
		padding-right: 10%;
	}
	@else if $o-login-form-align == right {
		text-align: right;
		.o_login_intro {
			padding-left: 10%;
		}
		
	}		
	@else {
		text-align: center;
	}
	
	/* header and lead message */	
	.o_login_intro {
		h1 {
			margin-bottom: $padding-large-vertical * 4;
			color: $o-login-header-color;
		}
		.lead {
			color: $o-login-lead-color;
			// add more space since lead text is larger than normal
			h1, h2, h3, h4, h5 {
				margin-bottom: 20px;
				color: $o-login-lead-header-color;
			}
		}
	}		

	/* content of messages and the login box itself are always left aligned */
	.o_login_messages,
	.o_login_box {
		display: inline-block;
		width: $o-login-form-width;
		text-align: left;
	}

	.o_login_messages {
		.o_infomessage_wrapper {
			background: $o-login-infomessage-bg;
			border: 1px solid $o-login-infomessage-border;
			border-radius: $o-login-infomessage-radius; ;
			padding: $padding-base-vertical $padding-base-horizontal;
			
			.o_info, .o_warning, .o_note {
				/* remove unnecessary space */
				margin: 0;
			}
		}
	}

	.o_login_footer_wrapper {
		@extend %o_block_large;	
	}
	
	.o_login_box {
		padding-top: $padding-large-vertical;
	}
	
	.o_login_providers {
		margin-bottom: $padding-base-vertical;
		border-radius: $border-radius-base;
		@include box-shadow(0px 1px 10px -1px rgba(0, 0, 0, 0.30));
		a {
			span {
				display: block;
				font-size: floor($font-size-base * 0.7);
				padding-top: $padding-base-vertical;
				@include text-overflow();
			}
		}
		.o_icon_provider_olat {
			font-size: 1em;
		}
	} 
	.o_login_provider {
		background-color: $well-bg;
		border: 1px solid $well-border;
		border-radius: $border-radius-base;
		@include box-shadow(0px 1px 10px -1px rgba(0, 0, 0, 0.30));
	}
	.o_login_form {
		position: relative;
		padding: $padding-large-vertical $padding-base-horizontal;
		.o_login_pwd {
			position: absolute;
			bottom: 2em;
			right: $padding-base-horizontal;
		}		
		/* Remove to much color form login screen */
		.o_form .o_desc {
		    margin: 0 0 30px 0;
		    padding: 0;
		    border-left: 0;
		    background-color: transparent;
		}
	}
	.o_login_register {
		display: block;
		line-height: 2em;
		font-size: floor($font-size-base * 1.3);
		text-align: center;
		@include button-variant($o-login-btn-register-color, $o-login-btn-register-bg, $o-login-btn-register-border);
		border-radius: $border-radius-base;
		margin-top: $padding-large-horizontal;
		padding: $padding-large-vertical $padding-base-horizontal;
		@extend %o_undecorated;
		small {
			font-size: $font-size-base;
		}
	}
	
	.o_login_social {
		position: relative;
		padding: $padding-large-vertical $padding-base-horizontal;
	
		li {
			padding: $padding-large-vertical $padding-base-horizontal;
		}
		
		li>a {
			display: block;
			line-height: 2em;
			text-align: center;
			font-size: floor($font-size-base * 1.3);
			border-radius: $border-radius-base;
			padding: $padding-large-vertical $padding-base-horizontal;
		}
		
		.btn-default.o_sel_auth_facebook {
			@include button-variant(#fff, #4568b2, darken(#4568b2, 5%));
		}
		
		.btn-default.o_sel_auth_twitter {
			@include button-variant(#fff, #2cc5ff, darken(#2cc5ff, 5%));
		}
		
		.btn-default.o_sel_auth_google {
			@include button-variant(#fff, #e15f4f, darken(#e15f4f, 5%));
		}
		
		.btn-default.o_sel_auth_linkedin {
			@include button-variant(#fff, #0181bd, darken(#0181bd, 5%));
		}
		
		.btn-default.o_sel_auth_adfs {
			@include button-variant(#fff, #1a1a1a, darken(#1a1a1a, 5%));
		}
	}
}

@media (max-width: $screen-xs-max) { 
	body.o_dmz {
		#o_bg {
			background: none;
			display: none;
		}
	}
	.o_login {
		padding: 0;
		.o_login_intro {
			padding: 0;
			text-align: left;			
		}
		.o_login_box_wrapper {
			text-align: center;
			padding: 0;
		}
		.o_login_box {
			padding-left: 0;
			padding-right: 0;
			.o_login_providers, .o_login_provider {	
				@include box-shadow(none);
			}
		}			
		.o_login_messages, 
		.o_login_box {
			width: 100%;
			display: block;
		}
	}

}