<fieldset>
	<legend>$r.translate("vitero.title")
		$r.contextHelpWithWrapper("org.olat.modules.vitero.ui","module.html","help.hover.vitero")
	</legend>
	<p class="o_info">$r.translate("vitero.intro")</p>
	$r.render("flc_module")
</fieldset>