<ul id="o_navbar_tools" class="nav o_navbar-nav o_navbar-right">
	<li id="o_navbar_search">
		$r.render("search_input")
	</li>
	<li id="o_navbar_langchooser">
		$r.render("contexthelp.langSelection")
	</li>
	<li id="o_topnav_printview">
		<a href="javascript:o_doPrint();" title="$r.translateInAttribute("header.topnav.printview.alt")" >$r.translate("header.topnav.printview")</a>
	</li>
	<li id="o_topnav_close">
		$r.render("header.topnav.close")
	</li>
</ul>